:root {
  --mc: #e98300;
}

/* * {
  outline: 1px solid #f00;
} */

body {
  letter-spacing: 0.04em;
  background-color: #000;
  color: #1b1b1b;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  height: 60px;
  z-index: 999;
  background-color: #000;
  transition: 100ms ease-in;
}

.Header.on h1 {
  width: 54px;
  height: 60px;
}

.hd_wrap .container {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 0 20px;
}

.hd_wrap h1 {
  width: 62px;
  height: 70px;
  transition: 100ms ease-in;
}

.hd_wrap h1 img {
  width: 100%;
  height: 100%;
}

.menu_toggle {
  color: #fff;
  font-size: 30px;
}

.mainVisual {
  height: 100vh;
  color: #fff;
  white-space: pre-wrap;
  text-align: center;
}

.mainVisual figure {
  width: 100%;
  height: 100%;
}

.mainVisual figure img {
  width: 100%;
  height: 100%;
}

.mainVisual .item01 {
  background: url(../public/assets/images/main_mb01.jpg) no-repeat center
    center/cover;
}
.mainVisual .item02 {
  background: url(../public/assets/images/main_mb02.jpg) no-repeat center
    center/cover;
}
.mainVisual .item03 {
  background: url(../public/assets/images/main_mb03.jpg) no-repeat center
    center/cover;
}
.mainVisual .item04 {
  background: url(../public/assets/images/main_mb04.jpg) no-repeat center
    center/cover;
}
.mainVisual .item05 {
  background: url(../public/assets/images/main_mb05.jpg) no-repeat center
    center/cover;
}

.mainVisual .visual_text {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.mainVisual figure h2 {
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  margin-bottom: 16px;
}
.mainVisual figure p {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 50px;
}

.mainVisual figure span {
  font-size: 12px;
  font-weight: 700;
  background-color: var(--mc);
  padding: 8px 36px;
}

.WWFSponsor {
  color: #ffffff;
  text-align: center;
  padding: 100px 0;
}

.WWFSponsor .container {
  width: auto;
  margin: 0 24px;
}

.WWFSponsor .container h2 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.WWFSponsor .container h2::after {
  content: "";
  width: 16px;
  height: 2px;
  background-color: var(--mc);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.sponsor_title_tit {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
}

.sponsor_title_tit > strong {
  font-weight: 700;
}

.sponsor_title {
  margin-bottom: 32px;
}

.sponsor {
  border: 1px solid #353535;
  border-radius: 15px;
}

.sponsor figure {
  padding: 35px 26px;
}

.sponsor_name {
  display: block;
  font-size: 26px;
  text-align: left;
  margin-bottom: 15px;
}

.sponsor_info {
  font-size: 14px;
  color: var(--mc);
  margin-left: 6px;
}

.sponsor_tit {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1500px;
    margin: 0 auto;
  }

  .mainVisual .item01 {
    background: url(../public/assets/images/main_pc01.png) no-repeat center
      center/cover;
  }
  .mainVisual .item02 {
    background: url(../public/assets/images/main_pc02.jpg) no-repeat center
      center/cover;
  }
  .mainVisual .item03 {
    background: url(../public/assets/images/main_pc03.png) no-repeat center
      center/cover;
  }
  .mainVisual .item04 {
    background: url(../public/assets/images/main_pc04.jpeg) no-repeat center
      center/cover;
  }
  .mainVisual .item05 {
    background: url(../public/assets/images/main_pc05.jpg) no-repeat center
      center/cover;
  }

  .mainVisual .visual_text {
    width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-end;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(30%);
  }

  .mainVisual figure h2 {
    width: 1000px;
    font-size: 48px;
    font-weight: 900;
    line-height: 58.09px;
    margin-bottom: 16px;
  }
  .mainVisual figure p {
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 34px;
  }
  
  .mainVisual figure span {
    font-size: 18px;
    font-weight: 700;
    background-color: var(--mc);
    padding: 12px 42px;
  }

  .mainVisual {
    height: 100vh;
    color: #fff;
    white-space: normal;
    text-align: center;
  }
}
